USE [master]
GO
/****** Object:  Database [CRUDWITHEF]    Script Date: 28.3.2024 г. 15:01:45 ******/
CREATE DATABASE [CRUDWITHEF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDWITHEF', FILENAME = N'E:\2023-2024 REPOSITORY\01. Internet Programming\IP ex02 mvc with crud\CRUDWITHEF.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRUDWITHEF_log', FILENAME = N'E:\2023-2024 REPOSITORY\01. Internet Programming\IP ex02 mvc with crud\CRUDWITHEF_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDWITHEF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDWITHEF]
GO
/****** Object:  Table [dbo].[EMPLOYEEMASTER]    Script Date: 28.3.2024 г. 15:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEEMASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPCODE] [int] NOT NULL,
	[EMPNAME] [varchar](100) NOT NULL,
	[DESIGNATION] [varchar](50) NOT NULL,
	[SALARY] [int] NOT NULL,
	[EMPIMG] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_EMPLOYEEMASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEEMASTER] ON 

INSERT [dbo].[EMPLOYEEMASTER] ([ID], [EMPCODE], [EMPNAME], [DESIGNATION], [SALARY], [EMPIMG]) VALUES (6, 1212, N'Tanya Danev', N'IT Engineer', 3400, N'~/images/20240311232709_tanya_danev.png')
INSERT [dbo].[EMPLOYEEMASTER] ([ID], [EMPCODE], [EMPNAME], [DESIGNATION], [SALARY], [EMPIMG]) VALUES (7, 1345, N'Farid Dean', N'RN', 2300, N'~/images/242606582farid_dean.png')
INSERT [dbo].[EMPLOYEEMASTER] ([ID], [EMPCODE], [EMPNAME], [DESIGNATION], [SALARY], [EMPIMG]) VALUES (8, 6108, N'Evaline Raines', N'Accountant', 4200, N'~/images/242905482evaline_raines.png')
SET IDENTITY_INSERT [dbo].[EMPLOYEEMASTER] OFF
GO
USE [master]
GO
